#vflow-chat-container {
    margin: 0 auto;
    width: 95%;
    max-width: 800px;
    height: 600px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 40px 0;
    width: 100%;
    position: relative;
}

footer a {
  text-decoration: none;
}

#logos-redes {
    display: flex;
    gap: 15px; /* Espaçamento entre os ícones do GitHub e LinkedIn */
}

.footer-bug-btn {
    background-color: #ff4d4d;
    text-decoration: none;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: transform 0.2s, background-color 0.2s;
}

.footer-bug-btn:hover {
    background-color: #e60000;
    transform: scale(1.05);
    text-decoration: none;
}