name: Deploy via SSH

on:
  push:
    branches:
      - main  # Ou a branch que você utiliza

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Copiar arquivos via SSH (SCP)
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "." # O que enviar (ponto significa tudo)
          target: "/home/ubuntu/climaflow/html" # Onde o Nginx está lendo os arquivos
          strip_components: 0 # Mantém a estrutura de pastas